body {
	width: 100%;
	height: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	background-color: black;
	overflow: hidden;
}

.header {
	grid-area: 1 / span 4;
	background-color: transparent;
	box-shadow: 0px 0px 25px orange;
	z-index: -2;
}

.header span {
	color: orange;
	text-align: center;
	font-size: 100px;
	z-index: 2;
	background-color: transparent;
	text-shadow: 0px 0px 25px orange;
	/*-webkit-background-clip: text;*/
	margin-left: 20px;
}

.player {
	background-color: transparent;
	grid-area: 2 / 2;
	grid-column-end: span 3;
	grid-row-end: span 3;
	box-shadow: 0px 0px 25px orange;
}

.side {
	grid-area: span 3 / 1;
	background-color: transparent;
	box-shadow: 0px 0px 25px orange;
}

@keyframes LefttoRightandBack {
	0% {left: 20px;}
	50% {left: 650px;}
	100% {left: 20px;}
}

.animateTextBox {
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: -1;
	width: 20%;
	height: 50px;
	background-color: orange;
	box-shadow: 0px 0px 25px orange;
	animation: LefttoRightandBack 5s infinite;
}

.animateTextBox {
	display: none;
}

.controls {
	width: 100%;
	height: 60px;
	background-color: orange;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	align-items: center;
	justify-items: center;
}

.playpausePicture {
	width: 50px;
	height: 50px;
	background-color: white;
}

.progressBar {
	grid-area: 1 / span 3;
	background-color: red;
	width: 100%;
	height: 75%;
	margin-left: 10px;
}

#progress {
	height: 100%;
	width: 0%;
	background-color: green;
	position: relative;
	top: -45px;
}

.progressBar #progressText {
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	display: grid;
}

.progressBar {
	z-index: 0;
}

#progress {
	z-index: -1;
}

#musicList {
	width: 90%;
	margin: 0 auto;
	overflow-y: auto;
	height: 50%;
}

.artist {
	position: relative;
	margin: 0 auto;
	top: 30px;
	width: 90%;
	display: none;
}

.artistControls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.artistControls * {
	color: orange;
	font-size: 25px;
	margin-top: 25px;
}

#previousArtist {
	grid-area: 1 / 2;
	justify-self: center;
	cursor: pointer;
}

#nextArtist {
	grid-area: 1 / 5;
	justify-self: center;
	cursor: pointer;
}

#artistNameDisplay {
	grid-area: 1 / 3;
	grid-column-end: span 2;
	justify-self: center;
}

.trackName {
	display: inline-block;
	cursor: pointer;
	transition: color .5s, text-shadow .5s, margin .25s;
}

.trackElement {
	text-align: center;
	color: white;
	font-size: 35px;
	margin-top: 5px;
}

.trackName:hover {
	transition: color .5s, text-shadow .5s, margin .25s;
	color: orange;
	text-shadow: 0px 0px 25px orange;
	margin-right: 15px;
	margin-top: -5px;
}
